.main-popup-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.375);
    position: absolute;
    display: grid;
    place-content: center;
    z-index: 9999;
}

.popup-container {
    width: 400px;
    height: 300px;
    background-color: white;
    position: relative;
    display: grid;
    place-content: center;
    font-size: 3rem;
    border: solid 2px black;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    color: red;
    font-size: 1.5rem;
    width: 30px;
    text-align: center;
}